{% extends 'auth_app/base.html' %}
{% block title %}Posts{% endblock %}

{% load static %}

{% block stylecss %}
    <link rel="stylesheet" href="{% static 'posts_app/post.css' %}">
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="d-flex flex-column col-lg-8 offset-lg-2 col-md-6 offset-md-3 mb-3 pb-3 pt-3 border border-dark">
            <div class="d-flex flex-row align-items-center">
                <div>
                    <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle" width="50px">
                </div>
                <div>
                    <a href="{% url 'user-profile' post.author.username %}">
                        <span class="ml-2 username">{{ post.author.username }}</span></a>
                    <small class="text-muted ml-2">{{ post.date_posted|date:'F d, Y' }}</small>
                </div>
            </div>
            <div>
                <h1 class="text-center">{{ post.title }}</h1>
            </div>
            <div class="post-img">
                <a href="{% url 'post-detail' post.id%}">
                    <img src="{{ post.image.url }}">
                </a>
            </div>

        </div>
    {% endfor %}

    <!-- Pagination -->
    <div class="text-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                {% if page_obj.paginator.num_pages > 2 and page_obj.previous_page_number != 1 %}
                    <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
                {% endif %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
                {% if page_obj.paginator.num_pages > 2 and page_obj.next_page_number != page_obj.paginator.num_pages %}
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}