{% extends 'auth_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="">
            <img src="{{ user.profile.profile_pic.url }}" class="mr-3 rounded-circle" width="200px">
        </div>
        <div class="p-3">
            <h1 class="username">{{ user.username }}</h1>
            <h4 class="text-secondary">{{ user.email }}</h4>
        </div>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit" name="editProfile">Update</button>
        </div>
    </form>
{% endblock %}