{% extends 'auth_app/base.html' %}
{% load static %}

{% block stylecss %}
    <link rel="stylesheet" href="{% static 'auth_app/profile.css' %}">
{% endblock %}


{% block content %}
    <div class="d-flex flex-row align-items-center mb-4">
        <div class="">
            <img src="{{ user_obj.profile.profile_pic.url }}" class="mr-3 rounded-circle" width="250px"
                 alt="{{ user_obj.username }}_profile_picture">
        </div>
        <div class="p-3">
            <div class="d-flex flex-row align-items-center">
                <span class="username mr-5">{{ user_obj.username }}</span>
                {% if not following_own_profile %}
                    {% if not already_followed %}
                        <a href="{% url 'follow' user_obj.username %}" class="btn btn-primary">Follow</a>
                    {% else %}
                        <a href="{% url 'unfollow' user_obj.username %}" class="btn btn-primary">Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
            <h2 class="text-center font-weight-bold">{{ user_obj.post.count }} Post{{ user_obj.post.count|pluralize }}
                &nbsp {{ user_obj.following.count }}
                {% if user_obj.following.count > 0 %}<a href="{% url 'followers' user_obj.username %}">{% endif %}
                    Follower{{ user_obj.following.count|pluralize }}
                {% if user_obj.following.count > 0 %}</a>{% endif %}
                &nbsp {{ user_obj.follower.count }}
                {% if user_obj.follower.count > 0 %}<a href="{% url 'followings' user_obj.username %}">{% endif %}
                    Following{{ user_obj.follower.count|pluralize }}
                {% if user_obj.follower.count > 0 %}</a>{% endif %}
                </h2>
            <h3 class="fullname ml-5">{{ user_obj.profile.full_name }}</h3>
            <h5 class="description">{{ user_obj.profile.description }}</h5>
        </div>
    </div>
    <div class="row">
        {% for post in user_obj.post.all %}
            <div class="col-lg-4 col-md-6 col-xs-6 thumb">
                <a href="{% url 'post-detail' post.id %}" class="">
                    <img src="{{ post.image.url }}" class="zoom img-fluid">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scriptjs %}
    <script src="{% static 'auth_app/script.js' %}"></script>
{% endblock %}